<p id="notice"><%= notice %></p>

<p>
  <strong>Entity name:</strong>
  <%= @invoice.entity_name %>
</p>

<p>
  <strong>Entity address:</strong>
  <%= @invoice.entity_address %>
</p>

<p>
  <strong>Client name:</strong>
  <%= @invoice.client_name %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @invoice.invoice_id %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @invoice.issue_date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @invoice.due_date %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @invoice.subject %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
