<p id="notice"><%= notice %></p>

<p>
  <strong>Item type:</strong>
  <%= @item.item_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @item.unit_price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
